/**
*  VARIABLE SETTINGS
*  ---------------------------------------------------------------------------------
*
*  CONTENTS
*  --------
*  -Colors-
*  Shades ........................ Shading Values
*	 Gradients ..................... Gradient Values
*
*	 -Typography-
*  Header Font ................... Header Font Configuration
*	 Body Font ..................... Font Configuration for all regular text
*
*	 -Transitions-
*  Slow .......................... Slow Transition Speed
*	 Medium ........................ Default Transition Speed
*  long .......................... Long Transition Speed
*
*
*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITIONS
\*------------------------------------*/
@import url(../css/flexboxgrid.css);
@import url(../css/normalize.css);
@import url(../css/lightbox.css);
@import url(../fonts/CopperplateGothic/stylesheet.css);
/**
*  SITE SETTINGS
*  ---------------------------------------------------------------------------------
*
*  CONTENTS
*  --------
*  -SETTINGS-
*  Config ........................ Configuration and environment settings.
*	 Typography .................... Configuration of text styles
*  Global ........................ Globally-available variables and settings/config.
*
*  -ELEMENTS-
*  Page .......................... Page-specific Styles (HTML)
*  Headings ...................... Heading Styles
*  Footers ....................... Footer Styles
*
*  -OBJECTS-
*  Wrappers ...................... Wrappers and page containers
*
*  -COMPONENTS-
*  Primary Navigation ............ Homepage Page Navigation
*  Buttons ....................... Button Elements
*
*  -RESPONSIVE SETTINGS-
*
*
*/
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
* {
  box-sizing: border-box; }

body {
  background: #ffffff;
  overflow-x: hidden;
  margin-top: 1em; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: Georgia, Times !important; }

.site-title {
  font-size: 50px !important; }

p,
div,
ul {
  font-family: Georgia, Times; }

a {
  color: #101111;
  text-decoration: underline;
  transition: all 130ms ease; }
  a:hover {
    color: #8e8e8e; }

.page {
  margin: 2em 0;
  display: block;
  position: relative; }
  .page h2 {
    font-size: 2rem; }

/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/
.site-footer {
  padding: 2em;
  margin: 2em 0 0 0; }
  .site-footer p {
    margin: 0;
    color: #8e8e8e; }

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/
.gallery-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start; }

.gallery-container__item {
  width: 30%;
  position: relative;
  display: inline-block;
  margin: 0.5em;
  overflow: hidden; }
  .gallery-container__item img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 200ms ease; }
  .gallery-container__item::after {
    content: 'View';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Copperplate Gothic";
    font-size: 1.3rem;
    color: #101111;
    opacity: 0;
    transition: all 200ms ease; }
  .gallery-container__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 200ms ease;
    background: rgba(255, 255, 255, 0); }
  .gallery-container__item:hover::after {
    opacity: 1;
    top: 50%; }
  .gallery-container__item:hover::before {
    background: rgba(255, 255, 255, 0.5); }
  .gallery-container__item:active {
    transform: scale(0.95); }

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
.site-nav {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1.5em 0; }

.site-nav__list {
  display: flex; }
  .site-nav__list .site-title {
    font-weight: normal;
    font-size: 36px;
    margin: 0.5em 0;
    padding: 0.2em; }
  .site-nav__list .nav-item {
    font-family: "Copperplate Gothic";
    font-size: 1.1rem;
    display: block;
    margin: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none; }

.home-hero {
  width: 100%;
  height: 25em;
  background: url("../img/landscape1.jpeg");
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2em 0; }

.about-container {
  overflow: hidden; }

.profile-container {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../img/profile.jpeg");
  background-position: 50% 30%;
  background-size: cover; }

.form-col {
  display: block; }

form {
  padding: 1em 1em 0 0;
  margin: 0;
  display: block; }
  form input,
  form textarea {
    outline: none;
    border: none;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    display: block;
    position: relative;
    padding: 0.5em;
    transition: all 130ms ease;
    font-family: inherit; }
    form input:hover,
    form textarea:hover {
      border-color: #8e8e8e; }
    form input:focus,
    form textarea:focus {
      border-bottom: 2px solid #8e8e8e;
      background: #efefef; }
  form button[name="submit"] {
    border: 2px solid #cccccc;
    border-radius: 3px;
    background: #ffffff;
    padding: 0.7em;
    cursor: pointer;
    width: 100%;
    transition: all 130ms ease;
    font-family: inherit;
    outline: none; }
    form button[name="submit"]:hover {
      border-color: #8e8e8e; }
    form button[name="submit"]:focus {
      background: #efefef; }
  form textarea[name="message"] {
    resize: none;
    height: 10em; }

.contact-container {
  padding: 1em; }
  .contact-container a {
    margin: 2em 0;
    display: block; }

/*------------------------------------*\
  #RESPONSIVE SETTINGS
\*------------------------------------*/
@media screen and (max-width: 438px) {
  .site-nav__list {
    flex-direction: column;
    text-align: center; }
    .site-nav__list a {
      padding: 1em !important;
      margin: 0 !important; }

  .site-title {
    font-size: 24px !important; } }
@media screen and (max-width: 1315px) {
  .gallery-container__item {
    width: 45%; } }
@media screen and (max-width: 860px) {
  .gallery-container__item {
    width: 90%; }

  .site-nav {
    display: block;
    text-align: center; }
    .site-nav .site-nav__list {
      display: block; }
      .site-nav .site-nav__list .nav-item {
        padding: 1em;
        background-color: #e8e8e8;
        border-radius: 0.3em;
        border: 2px solid #DEDEDE; }
        .site-nav .site-nav__list .nav-item:hover {
          background-color: #F5F5F5; } }

/*# sourceMappingURL=main.css.map */
